@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{
	font-family:NanumBarunGothic;
	src:url('NanumBarunGothic.woff') format('woff');
	src:url('NanumBarunGothic.otf') format('opentype');
	src:url('NanumBarunGothic.eot') format('eot'),
			url('NanumBarunGothic.ttf') format('truetype');
}
body{
	font-family:'NanumBarunGothic','Nanum Gothic',sans-serif;
}

button{cursor:pointer;}
.clear{clear:both;position:inherit;}
.hide{display:none;}



/*header*/

div#headerWrap{
	width:100%; 
	height:140px;
	position:absolute;
	left:0; top:0;
	background:rgba(255,255,255,0.8);
	z-index:2;
}
div#headerWrap>header{
    width:1200px;
    height:140px;
	margin:0 auto;   
}

header>h1{
	width:248px;
	height:48px;
	/*width:300px;
	height:140px;*/
	float:left;
	padding-top:35px;
	box-sizing:border-box;
}
header>div{
	float:right;
	width:900px;
	height:70px;
	line-height:70px;
	font-size:14px;
}

header>div>ul{
			
}
header>div>p:nth-of-type(1){
		float:left;
		font-weight:bold;
		margin-right:380px;
}
header>div>ul>li{
		float:left;
		padding-right:22px;
		color:#666;
		
}
header>div>ul>li a{
		
		color:#666;
		
}
header>div>ul>li a:hover{
		
		color:#333;
		
}

header>div>ul>li:last-child{
	padding:0px;
}
header>div>p:nth-of-type(2){
	
	margin-top:18px;
	width:155px;
	height:34px;
	line-height:34px;
	background:#203756;
	text-align:center;
	float:right;
	
}
header>div>p:nth-of-type(2) a{
	
	font-size:14px;
	color:#fff;
}




nav{
	width:900px;
	height:70px;
	line-height:70px;
	float:right;
	
}

nav>ul>li {
		
		margin-right:90px;
		float:left;
		font-weight:bold;	
}

nav>ul>li:last-child {
		
		padding:0;
		margin:0;
		
}
nav>ul>li>a{
	font-size:14px;
	color:#666;
	padding-bottom:6px;
}

nav>ul>li> a:hover{
	
	color:#000;
	border-bottom:2px solid #000;
}

/*subnav*/

nav>ul>li>ul.subnav{
	width:170px;
	position:absolute;
	top:140px;
	background:rgba(255,255,255,.8);
	margin-left:-57px;
	padding-bottom:36px;
	display:none;
		
}
nav>ul>li:nth-of-type(4)>ul{
	/*width:170px;
	width:248px;*/
	margin-left:-42px;
}

nav>ul>li>ul.subnav>li{
	width:100%;
	height:18px;
	text-align:center;
	margin-bottom:18px;
	padding-bottom:2px;
	box-sizing:border-box;
}

nav>ul>li>ul.subnav>li a{
	
	font-size:14px;
	color:#555;
	
}
nav>ul>li>ul.subnav>li a:hover{
	
	border-bottom:1px solid #333;
	color:#333;
	
}



/*reservation ��*/









/*login start*/

#login{
	width:100%;
	height:100%;
	background:rgba(000,000,000,0.6);
	padding-top:128px;
	padding-bottom:400px;
	position:fixed;
	top:0;
	left:0;
	z-index:99;
	
}
#login div#login_inner{
	width:895px;
	height:502px;
	background:#fff;
	margin:0 auto;
	padding:70px 135px 0;
	box-sizing:border-box;
	position:relative;
	
}
#login div#login_inner h1{
	width:100%;	
	text-align:center;
	margin-bottom:57px;
	font-size:40px;	
}

#login #login_inner form{
	width:700px;
	height:179px;

}
#login #login_inner form p{
	width:455px;	
	height:56px;
	margin-bottom:18px;
	margin-right:18px;	
	float:left;
	line-height:56px;
}
#login #login_inner form p:nth-of-type(2){
	width:458px;	
	height:56px;
	margin-bottom:18px;
	margin-right:18px;	
	float:left;
	line-height:56px;
}
#login #login_inner form p:nth-of-type(3){
	position:absolute;
	top:167px;
	right:134px;
	width:153px;	
	height:132px;	
	margin:0;
	}

#login #login_inner form p input{
	width:456px;	
	height:56px;
	background:#ccc;
	border:none;
		
}
#login #login_inner form p:nth-of-type(3) input{
	
	width:100%;	
	height:100%;
	background:#203756;
	border:none;
	
	color:#fff;
	line-height:127px;
	font-size:15px;


		
}

#login #login_inner form p label{
	
	font-size:13px;	

		
}
#login #login_inner form p label input[type=checkbox]{
	width:14px;	
	height:14px;
	margin-right:14px;

}


#login #login_inner>p:nth-of-type(1){
	width:100%;
	height:54px;
}

#login #login_inner>p a{
	text-align:center;
	color:#203756;
	width:300px;
	height:54px;
	border:1px solid #203756;
	background:none;
	line-height:54px;
	margin-right:15px;
	float:left;
	font-size:14px;
	
}
#login #login_inner>p a:nth-of-type(2){
	margin:0;
}

#login #login_inner>p:nth-of-type(2){

	position:absolute;
	top:18px;
	right:18px;
	cursor:pointer;
}




/*login end*/


/*reservation start*/
#reservation_modal{
	width:100%;
	height:100%;
	background:rgba(000,000,000,0.7);
	padding-top:160px;
	position:absolute;
	padding-bottom: 100%;
	top:0;
	left:0;
	z-index:999;
}

div#reservation_modal section{
	width:1200px;
	height:580px;	
	margin:0 auto;
	padding-bottom:300px;
	position:relative;
	
}


div#reservation_modal section h1{
	width:1200px;
	margin:0 auto;
	text-align:center;
	font-size:48px;	
	padding-bottom:23px;
	margin-bottom:38px;
	color:#fff;
	background:url(../images/main/modal_underline.png) no-repeat center bottom;
}
div#reservation_modal section h2{
	width:1200px;
	margin:0 auto;
	text-align:center;
	font-size:18px;	
	margin-bottom:75px;
	color:#fff;
}


div#reservation_modal section form{
	width:744px;
	height:400px;	
	display:inline-block;
	
	
}
#reservation_modal section form div:nth-of-type(1){
	/*width:516px;
	height:397px;*/
	float:left;
	background:#fff;
}
#reservation_modal section form div:nth-of-type(1) p{

	box-sizing:border-box;
	padding-left:20px;
	line-height:55px;
	width:516px;
	height:55px;
	background:#eee;
}
#reservation_modal section form div:nth-of-type(1) p label{
	color:#666;
	font-size:13px;
	float:left;
	margin-right:20px;

}
#reservation_modal section form div:nth-of-type(1) p label input{
	width:180px;
	height:50px;
	border:none;
	margin-right:40px;
	margin-left:18px;
	
	color:#666;
}
#reservation_modal section form div:nth-of-type(1) p label input:nth-of-type(2){
	margin:0;
}

#reservation_modal section form div:nth-of-type(1) .date{
		width:516px;
		height:343px;
	}
#reservation_modal section form div:nth-of-type(1) .date>#datepicker{
		width:258px;
		height:341px;
		float:left;
	}
#reservation_modal section form div:nth-of-type(1) .date>#datepicker01{
		width:258px;
		height:341px;
		float:left;
	}
#reservation_modal section form>div:nth-of-type(2){
	width:228px;
	height:325px;
	padding:18px 18px;
	box-sizing:border-box;
	float:right;
	background:#ccc;
}
#reservation_modal section form div:nth-of-type(2) p{
	line-height:55px;
	width:190px;
	height:55px;
	margin-bottom:18px;
	box-sizing:border-box;

	padding-left:18px;
	background:#fff;
}
#reservation_modal section form div:nth-of-type(2) p:nth-of-type(4){
	line-height:3px;
}
#reservation_modal section form div:nth-of-type(2) p:nth-of-type(4){
	
	margin-top:18px;
	background:none;
	font-size:11px;
}
#reservation_modal section form div:nth-of-type(2) p label{
	border-right:1px solid #ccc;
	padding-right:10px;
	margin-right:20px;
}
#reservation_modal section form div:nth-of-type(2) p select{
	width:80px;
	border:none;
}
#reservation_modal section form input[type=submit]{
	width:228px;
	height:72px;
	background:#203756;
	color:#fff;
	line-height:72px;
	text-align:center;
	border:none;
	float:right;
}
#reservation_modal section article{
	width:438px;
	height:397px;
	float:right;
	padding-top:36px;
	box-sizing:border-box;
	background:url(../images/main/modal_01.jpg) no-repeat left top;
}
#reservation_modal>section article>h2{
	text-align:left;
	width:100%;
	font-size:24px;
	color:#fff;
	margin-bottom:18px;
	padding-left:58px;
	
}
#reservation_modal section article p:nth-of-type(1){
	color:#fff;
	font-size:14px;
	padding-left:58px;
	line-height:22px;
	
}
#reservation_modal section article>p:nth-of-type(2){
	width:437px;
	line-height:72px;
	text-align:center;
	background:#666;
	height:72px;
	margin-top:185px;
	
}
#reservation_modal section article>p:nth-of-type(2) a{
	
	color:#fff;

}

#reservation_modal section>p{
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}




aside#top{
	position:fixed;
	bottom:20px;
	right:76px;
	width:60px;
	height:60px;
	border-radius:50% 50%;
	background:url("../images/main/top.png") no-repeat center center #203756;
	cursor:pointer;
}




/*footer*/

#footerwrap{
	clear:both;
	width:100%;
	height:300px;
	background:#333;
	
}
#footerwrap>footer{
	width:1200px;
	height:100%;
	margin:0 auto;
	background:url(../images/main/logo.png) no-repeat left 30px;
}

footer>div{
	width:100%;
	height:150px;

}

footer>div:first-child>ul{
	float:right;
	margin-top:70px;
}
footer>div>ul>li{
	float:left;
	height:14px;
	padding:0 30px;
	border-right:1px solid #eee;
}
footer>div>ul>li a{
	
	color:#eee;
	font-size:14px;

}
footer>div>ul>li:last-child{
	
	border:none;
	padding-right:0;
}

footer>div:last-child>p{
	float:left;
	font-size:14px;
	width:800px;
	color:#666;
	font-weight:bold;
	line-height:24px;
}
footer>div:last-child>div{
	width:400px;
	padding-left: 150px;
	float:right;
	box-sizing:border-box;
}
footer>div:last-child>div>ul{
	float:right;
	margin-bottom:18px;
}
footer>div:last-child>div>ul li{
	float:left;
	padding-right:30px;
}
footer div>form{
	float:right;
}
footer div>form>fieldset>select{
	float:right;
	width:230px;
	height:35px;
	border:none;
	background-color:#666;
}