@charset "utf-8";

input,select{box-sizing:border-box;}
button{cursor:pointer;}
.clear{clear:both;position:inherit;}
.hide{display:none;}





section#mainPic{	
			width:100%;
		
			background:url(../images/join/h1.jpg) repeat-x center center;
			background-size:cover;					
			position:relative;
}
section#mainPic>h1{
		width:100%;
		height:700px;
		background:rgba(000,000,000,.5);	
		z-index:1;
}




section#mainPic>h1>span{
	position:absolute;
	left:50%; top:50%;
	margin-left:-192px; 
	margin-top:40px; 
	width:266px;
	display:block;	
	font-size:80px;
	color:#fff;
	text-align:center;
	

} 


/*start!*/
#Wrap{
	width:1200px;
	margin:0 auto;
}
#Wrap h1{
	padding-top:112px;
	padding-bottom:78px;
	font-size:44px;
	text-align:center;	
}

#Wrap form ul{
	width:1200px;
	margin:0 auto;
	padding-top:74px;
	padding-left:210px;
	padding-bottom:74px;
	border-top:2px solid #666;
	border-bottom:2px solid #666;
	box-sizing:border-box;
}

#Wrap form>fieldset>p{
	text-align:center;
	margin-top:74px;
	width:1200px;
	margin-bottom:39px;
	height:53px;

	
}
#Wrap form>fieldset>p>input{
	border:1px solid #203756;
	background:none;
	width:231px;
	height:53px;
	color:#203756;
	font-size:16px;
}
#Wrap form>fieldset>p>input:nth-of-type(2){

	width:231px;
	height:53px;
	background:#203756;
	color:#fff;
	border:none;
}

#Wrap form ul li{
	width:702px;
	height:57px;
	margin-bottom:18px;
}

#Wrap form ul li label{
	font-size:14px;
	width:151px;
	height:56px;
	line-height:56px;
	float:left;
}
#Wrap form ul li input{
	width:550px;
	height:56px;
	float:right;
	margin:0;
	border:1px solid #ccc;
	text-indent: 20px;
	box-sizing:border-box;
}

#Wrap form ul li>p{
	font-size:13px;
	width:550px;
	height:27px;
	line-height:27px;
	float:right;
	}
#Wrap form ul li p span{
	float:left;
	width:450px;
}
#Wrap form ul li p>label{
	width:77px;
	height:27px;
	vertical-align: middle;
	font-size:13px;
	float:right;
	line-height: 1;
	padding-top:2px;

}
#Wrap form ul li p>label>input{
	width:13px;
	height:13px;
}
#Wrap form ul li:nth-of-type(1) input{
	width:275px;
	float:left;
	border-right:0;
	text-indent:20px;

}
#Wrap form ul li:nth-of-type(1) input:nth-of-type(2){
	float:left;
	border-right:1px solid #ccc;

}
#Wrap form ul li:nth-of-type(2){
	margin:0;
}
#Wrap form ul li:nth-of-type(9) input{
	width:183px;
	float:left;
}

#Wrap form ul li:nth-of-type(9) select{
	float:left;
	width:183px; 
	height:56px;
	border-left:none;
	text-indent: 20px;
}
#Wrap form ul li:nth-of-type(9) p{
	float:left;
	width:366px; 
	height:56px;
	border:1px solid #ccc;
	line-height:56px;
	text-align:center;
	box-sizing:border-box;
}
#Wrap form ul li:nth-of-type(9) p>input{
	float:left;
	width:170px; 
	height:54px;
	border:none;
}
#Wrap form ul li:nth-of-type(9) p>input:nth-of-type(2){
	float:right;
}
#Wrap form ul li:nth-of-type(10) { 
	margin:0;
}
#Wrap form ul li:nth-of-type(11) input{
	float:left;
	width:183px;
	border-right:0;
}
#Wrap form ul li:nth-of-type(11) input:nth-of-type(3){
	
	border-right:1px solid #ccc;
}

#Wrap form ul li:nth-of-type(12) input[type="button"]{
	width:183px;
	height:56px;
	line-height:56px;
	text-align:center;
	background:#9f584f;
	color:#fff;
	border:none;
	text-indent: -3px;
}
#Wrap form ul li:nth-of-type(12) input{
	width:367px;
	float:left;
	border-right:0;
}








