@charset "utf-8";


button{cursor:pointer;}
.clear{clear:both;position:inherit;}
.hide{display:none;}





section#mainPic{	
			width:100%;
		
			background:url(../images/my_reservation/h1.jpg) repeat-x center center;
			background-size:cover;					
			position:relative;
}
section#mainPic>h1{
		width:100%;
		height:700px;
		background:rgba(000,000,000,.5);	
		z-index:1;
}




section#mainPic>h1>span{
	position:absolute;
	left:50%; top:50%;
	margin-left:-192px; 
	margin-top:40px; 
	width:266px;
	display:block;	
	font-size:80px;
	color:#fff;
	text-align:center;
	

} 
/*start!*/
#Wrap{
	width:1200px;
	margin:0 auto;
}
#Wrap h1{
	padding-top:112px;
	padding-bottom:78px;
	font-size:44px;
	text-align:center;	
}

#Wrap form{
	width:50%;
	height:579px;
	padding-left:80px;
	padding-top:73px;
	box-sizing:border-box;
	float:left;
	border:1px solid #ccc;
	border-right:0;
}
#Wrap form:nth-of-type(2){

	border-right:1px solid #ccc;

}

#Wrap form legend{
	text-indent:-95px;
	font-size:18px;
	text-align:center;
	margin-bottom:40px;
}
#Wrap form ul li{
	width:437px;
	height:54px;
	margin-bottom:18px;
	font-size:13px;
}
#Wrap form ul li input{
	width:100%;
	height:100%;
	font-size:14px;
	text-indent:20px;
}
#Wrap form ul li input[type=checkbox]{
	width:14px;
	height:14px;
	margin-right:10px;
}

#Wrap form ul li input[type=submit]{
	
	
	background:#203756;
	color:#fff;
	border:none;
	
}
#Wrap form ul li input[type=button]{
	float:left;
	width:208px;
	height:52px;
	margin-right:20px;
	background:none;
	border:1px solid #203756;
	color:#203756;
}
#Wrap form ul li input[type=button]:nth-of-type(2){
	
	margin:0;
}

#Wrap form ul li select{
	width:206px;
	height:54px;
	margin-right:19px;
	float:left;
	text-indent: 20px;
}
#Wrap form:nth-of-type(2) ul li:nth-of-type(1) input{
	width:206px;
	height:46px;
	
}

#Wrap form:nth-of-type(2) ul li:nth-of-type(3) input{
	margin-top:70px;
	width:100%;
	height:100%;
	background:#203756;
	color:#fff;
	border:none;
	font-size:14px;
	margin-bottom:18px;
	
}

#Wrap>p{
	display:inline-block;
	width:99.9%;
	height:90px;
	text-align:center;
	line-height:90px;
	font-size:13px;
	color:#666;
	border:1px solid #ccc;
	margin-bottom:74px;
	border-top:0;
}
/*1end*/
/*2 start*/


